.text {
    font-family: "Yanone Kaffeesatz";
    font-size: 5vw;
    display: flex;
    user-select: none;
    flex-direction: column;
}

.text .letter {
    transition: ease-out 1s;
    transform: translateY(30%);
}


.text .shadow {
    color: #999;
    transition: ease-in 5s, ease-out 5s;
  }

  @media screen and (max-width:768px){
    .text{
        font-size: 15vw;
    }

  }